@use "../../assets/styles/variables" as vars;

.form {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 15px 0;

    &__btn {
        width: 100px;
        height: 3rem;
        text-align: center;
        border: 0;
        border-radius: vars.$borderR;
        background-color: vars.$mainColor;
        transition: all 300ms;
        cursor: pointer;

        & span {
            font-size: 1.5em;
        }

        &:hover {
            transform: scale(0.95);
        }

        &:hover {
            transform: scale(0.9);
        }

        &:focus {
            outline: 2px solid;
            outline-color: vars.$textColor;
        }
    }

}
