@use "../../../assets/styles/variables" as colors;

.button {
    width: 170px;
    height: 40px;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    transition: all 300ms ease-in;

    &:hover {
        transform: scale(0.95);
    }

    &:active {
        transform: scale(0.85);
    }

    &--save {
        background-color: colors.$lemon;
        border-color: colors.$lemon;
    }

    &--delete {
        background-color: colors.$asphalt;
        border-color: colors.$asphalt-dark;
    }

    &__label {
        font-size: 1.25em;
        font-weight: 700;
    }
}
